*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    }
    
    body{
        margin: 0;
        overflow-x: hidden;
        background-color:rgb(84, 83, 83);
    }
        
    .bgimage{
    
        background-image: url(/ASSETS/bgimage.png);
        background-size: cover;
        height: 100vh;
        width: 100%;
        position:absolute;
        top: 0;
       
   
    }

  


    .container{
        display: flex;
        align-items: center;
        position: absolute;
        right: 15px;
        margin-top: 10px;
        margin-right: 25px;
        padding: 5px;
        
        }
    
    
    .link a{
    
        color: white;
        text-decoration: none;
        margin-left: 50px;
        cursor: pointer;
    }
    .link a:hover{
        color: aqua;
    }
    
    
    .photo{
    
        margin: 0px;
        padding: 0;
        position: absolute;
        right: 10px;
        top: 206px;
        
    
    }
    
    .text{
    
        position: absolute;
        top: 40%;
        left: 100px;
        font-size: 50px;
        color: white;
    }
    
    .h3{
    position: relative;
    
    }
    p{
        font-size: 15px;
        margin-top: 10px;
        color: white;
    
    }

  
        
    .ph{
        position: relative;
        top: 800px;
        left: 6px;
      
    }

    .netflix{
        position: relative;
        top: 542px;
        left: 509px;
      
    }

    .dark{
        position: relative;
        top: 283px;
        left: 1010px;
      
    }

    .forest{
        position: relative;
        top: 320px;
        left: 6px;

    }

    .facebook{
        position: relative;
        bottom: 17px;
        left: 510px;
    }

    

    .calculator{

    position: relative;
    bottom: 354px;
    left: 1013px;
    }
    .colorful{

     
        position: relative;
        bottom: 325px;
        left: 515px;
   
    }

    
    h1{
        font-size: 30px;
        position: absolute;
        top: 745px;
        left: 20px;
        color: white;
        letter-spacing: 5px;
      
        
    }

    span{
        color: cyan;
        font-size: 15px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-style: italic;
        position: absolute;
    }

    .netflix img{

        border-radius: 30px;
        border-bottom: 5px solid gray;
    }

    .ph img{

        border-radius: 30px;
        border-bottom: 5px solid gray;
    }
    
    .dark img{

        border-radius: 30px;
        border-bottom: 5px solid gray;
    }

    .forest img{

        border-radius: 30px;
        border-bottom: 5px solid gray;
    }

    .facebook img{

        border-radius: 30px;
        border-bottom: 5px solid gray;
    }

    .calculator img{

        border-radius: 30px;
        border-bottom: 5px solid gray;
    }

    .colorful img{

        border-radius: 30px;
        border-bottom: 5px solid gray;
    }